      select#kategori option {
        color: #1f2937;
      }
      select#kategori option[value=""] {
        color: #9ca3af; /* grey (text-gray-500) */
        font-style: italic;
      }
      #interactive {
        width: 100%;
        height: 300px;
        border: 2px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
      }

      input#merk::-webkit-calendar-picker-indicator {
        display: none !important;
      }
      input#merk::-webkit-outer-spin-button,
      input#merk::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
